(
    materials: [
        (
            name: "Nothing",
            max_temperature: Infinity,
            density: 0.0,
            emissivity: 1.0,
            absorptivity: 0.0,
            thermal_conductivity: Infinity,
            specific_heat: 0.0,
            poissons_ratio: 0.5,
            elasticity: Infinity,
            max_strain: Infinity,
            max_stress: Infinity,
        ),
        (
            name: "Rubber",
            max_temperature: 385.0,
            density: 1000.0,
            emissivity: 0.86,
            absorptivity: 0.86,
            thermal_conductivity: 0.25,
            specific_heat: 1490.0,
            poissons_ratio: 0.5,
            elasticity: 4_000_000.0,
            max_strain: 8.0,
            max_stress: 25_000_000.0,
        ),
        (
            name: "LowDensityPolyethylene",
            max_temperature: 348.0,
            density: 919.0,
            emissivity: 0.94,
            absorptivity: 0.94,
            thermal_conductivity: 0.3175,
            specific_heat: 2600.0,
            poissons_ratio: 0.5,
            elasticity: 300_000_000.0,
            max_strain: 6.25,
            max_stress: 10_000_000.0,
        ),
    ]
)
