(
    environment: (
        real_time: false,
        tick_rate_hz: 10.0,
        max_elapsed_time_s: 10_000.0,
        initial_altitude_m: 0.0,
        initial_velocity_m_s: 0.0,
    ),
    balloon: (
        material: "Rubber",
        thickness_m: 0.0001, // thicker balloons have less stress
        barely_inflated_diameter_m: 1.5, // larger balloons have less strain
        lift_gas: (
            species: "Helium",
            mass_kg: 0.3,
        ),
    ),
    bus: (
        body: (
            mass_kg: 1.427,
            drag_area_m2: 0.04,
            drag_coeff: 2.1,
        ),
        parachute: (
            total_mass_kg: 0.2,
            drogue_area_m2: 0.2,
            drogue_drag_coeff: 1.5,
            main_area_m2: 1.1,
            main_drag_coeff: 0.8,
            deploy_force_n: 100,
            deploy_time_s: 5.0,
        ),
    ),
)
